.button {
    padding: 15px 20px;
    background: #fff;
    border: 1px solid lightslategray;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition: 0.15s;
}
.button:hover {
    box-shadow: 1px 1px 7px -2px black;
}

.button:active {
   transform: scale(0.98);
}
.button--primary {
    background: dodgerblue;
    color: #fff;
    border: none;
}
.button--red {
    background: #ff4e4e;
    color: #fff;
    border: none;
}
.button--green {
    background: forestgreen;
    color: #fff;
    border: none;
}
