/*card list*/
.item-list {
  margin: 50px 0;
}

/*item card*/
.item {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgb(31 51 136 / 15%);
  overflow: hidden;
  padding: 20px;
}
.item:not(:last-child){
  margin-bottom: 15px;
}
.item__content-img {
  margin-bottom: 20px;
}
.item__title {
  font-size: 18px;
}
.item__price {
  color: green;
  font-weight: bold;
}

img {
  border-radius: 15px;
  object-fit: contain;
}


/*shopping cart*/

.shop-cart {
  margin-top: 35px;
  border-radius: 15px;
  border: 1px solid black;
  padding: 20px;
  background: cornsilk;
  text-align: center;
}


/*media*/

@media(min-width: 768px){
  .item {
    display: flex;
  }
  .item__content-img {
    flex: 0 1 300px;
    margin-bottom: 0;
  }
  .item__content-info {
    flex: 1;
    margin-left: 20px;
  }
  img {
    height: 100%;
  }

  .shop-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}