.bg-red {
  background: red;
}
.height {
  transform: translateY(40px);
}
header {
  background: #1f3388;
  padding: 30px 20px;
  margin-bottom: 30px;
  text-align: center;
}
header h1 {
  color: #fff;
  margin: 0 0 20px 0;
}
section p {
  background: #fff;
  padding: 20px;
  box-shadow: 0 12px 18px 0 rgb(0 0 0 / 10%);
  text-align: center;
}
main {
  padding: 20px 0;
}
.item {
  /*padding: 20px;*/
  box-shadow: 0 12px 18px 0 rgb(0 0 0 / 10%);
  text-align: left;
}

.item__info {
  margin-top: 20px;
  text-align: center;
}
.item:not(:last-child){
  margin-bottom: 20px;
}

@media(min-width: 575px){
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header h1 {
    margin: 0;
  }
}
@media(min-width: 768px){
  .item {
    display: flex;
  }
  .item__info {
    flex: 1;
    padding-left: 30px;
    margin: 0;
    text-align: left;
  }
  .item img {
    width: 300px;
  }
}
@media(max-width: 767px){
  .item img {
    width: 100%;
  }
}